---
import LinkButton from "./LinkButton.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  prevUrl: string;
  nextUrl: string;
}

const { currentPage, totalPages, prevUrl, nextUrl } = Astro.props;

const prevDisabled = currentPage <= 1;
const nextDisabled = currentPage >= totalPages;
---

{totalPages > 1 && (
  <nav class="mb-8 mt-auto flex justify-center" aria-label="Pagination">
    <LinkButton
      disabled={prevDisabled}
      href={prevUrl}
      className={`mr-4 select-none ${prevDisabled ? "pointer-events-none opacity-50 hover:text-skin-base" : ""}`}
      ariaLabel="Previous"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class={`${prevDisabled ? "group-hover:fill-skin-base" : ""}`}
      >
        <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
      </svg>
      Prev
    </LinkButton>
    {currentPage} / {totalPages}
    <LinkButton
      disabled={nextDisabled}
      href={nextUrl}
      className={`ml-4 select-none ${nextDisabled ? "pointer-events-none opacity-50 hover:text-skin-base" : ""}`}
      ariaLabel="Next"
    >
      Next
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class={`${nextDisabled ? "group-hover:fill-skin-base" : ""}`}
      >
        <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
      </svg>
    </LinkButton>
  </nav>
)}

